
<div *ngFor="let image of getData; let i = index">
		<div class="item small-12 medium-5 large-3  left" [ngStyle]="{'background-image':'url(https://devtest.tailify.com/' + image.path +')'}" >
			<div class="upload" (click)="sendJson(image)" [ngClass]="{uploaded: true}"><p> upload </p></div>
		</div>
	</div>

<!-- error will be thrown because data won't be ready/ todo - add check -->
<div id="response" class="small-8 left" [hidden]="!postData">
	<p>
	  <strong>{{postData.filename}}</strong> has been uploaded to: {{postData.uri}}
	</p>
</div>


